---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About SPellbound Magical Gifts">

<div id="shopify-section-template--15812670685241__about-us-with-banner" class="shopify-section">
    <!-- About Section Start -->
    <div id="section-template--15812670685241__about-us-with-banner" class="section section-padding  section-normal ">
        <div class="container">

            <!-- Section Title Start --><!-- Section Title End -->

            <div class="row learts-mb-n30">
                <div class="col-lg-5 col-md-6 col-12 align-self-center learts-mb-30">
                    <div class="about-us3">
                        <h2 class="title">About Spellbound</h2>
                        <div class="desc">
                            <p>Spellbound Magical Gifts is a family owned and operated business located in the main street of the historic town of Gawler, about an hour north of Adelaide.</p>
                            <p>
          Formerly known as "Fairy Secrets", Spellbound has been in the current
          location since 2001, and has been proudly supplying the local
          and wider community with unique gifts and new age products for over
          20 years.
        </p>
        <p>
          Spellbound staff take great care to provide a friendly personalised
          service, and value their loyal customers.
        </p>
                        </div>
                    </div>
                </div><!-- About Us Image Start -->
                <div class="col-lg-6 col-md-6 col-12  ml-lg-auto  learts-mb-30">
                    <div class="about-us-image"><img class=" ls-is-cached lazyloaded"
                            src="img/about.png" alt="">
                    </div>
                </div>
                <!-- About Us Image End -->
            </div>
        </div>
    </div>
    <!-- About Section End -->
    <style data-shopify="">
        .about-us3 .sub-title {
            color: #333;
        }

        .about-us3 .title {
            color: var(--heading);
        }

        .about-us3 .desc p {
            color: #696969;
        }

        .about-us3 .link {
            color: #333;
        }

        .about-us3 .link::before {
            background-color: #333;
        }

        .about-us3 .link:hover {
            color: #f8796c;
        }

        .about-us3 .link:hover::before {
            background-color: #333;
        }








        #section-template--15812670685241__about-us-with-banner .section-title .title {
            color: #333;
        }

        #section-template--15812670685241__about-us-with-banner .section-title .sub-title {
            color: #72A499;
        }

        #section-template--15812670685241__about-us-with-banner .section-title .title.title-icon-both::before {
            content: url(http:\/\/via.placeholder.com\/54x24);
        }

        #section-template--15812670685241__about-us-with-banner .section-title .title.title-icon-both::after {
            content: url(http:\/\/via.placeholder.com\/54x24);
        }
    </style>
    <style data-shopify="">
        #section-template--15812670685241__about-us-with-banner {}

        @media (min-width: 768px) and (max-width: 991px) {
            #section-template--15812670685241__about-us-with-banner {}
        }

        @media (max-width: 767px) {
            #section-template--15812670685241__about-us-with-banner {}
        }
    </style>



</div>
<div id="shopify-section-template--15812670685241__our-feature-two" class="shopify-section">
    <!-- Feature Section Start -->


    <style data-shopify="">
        .block_5f61a743-5f10-42e9-916a-ce562d0563e2 .icon-box5 .icon {
            color: #f8796c;
            background-color: #fff;
        }

        .block_5f61a743-5f10-42e9-916a-ce562d0563e2 .icon-box5 .icon svg {
            color: #f8796c;
            background-color: #fff;
        }

        .block_5f61a743-5f10-42e9-916a-ce562d0563e2 .icon-box5 .content .title {
            color: #333;
        }

        .block_5f61a743-5f10-42e9-916a-ce562d0563e2 .icon-box5 .content p {
            color: #696969;
        }

        .block_5f61a743-5f10-42e9-916a-ce562d0563e2 .icon-box4 .inner .content .title {
            color: #333;
        }

        .block_5f61a743-5f10-42e9-916a-ce562d0563e2 .icon-box4 .inner .content p {
            color: #696969;
        }






        .block_4be582a1-c031-4275-9adb-3d2606c7b15d .icon-box5 .icon {
            color: #f8796c;
            background-color: #fff;
        }

        .block_4be582a1-c031-4275-9adb-3d2606c7b15d .icon-box5 .icon svg {
            color: #f8796c;
            background-color: #fff;
        }

        .block_4be582a1-c031-4275-9adb-3d2606c7b15d .icon-box5 .content .title {
            color: #333;
        }

        .block_4be582a1-c031-4275-9adb-3d2606c7b15d .icon-box5 .content p {
            color: #696969;
        }

        .block_4be582a1-c031-4275-9adb-3d2606c7b15d .icon-box4 .inner .content .title {
            color: #333;
        }

        .block_4be582a1-c031-4275-9adb-3d2606c7b15d .icon-box4 .inner .content p {
            color: #696969;
        }






        .block_167051ed-8b2b-4513-b2f2-c1bf9f651ba4 .icon-box5 .icon {
            color: #f8796c;
            background-color: #fff;
        }

        .block_167051ed-8b2b-4513-b2f2-c1bf9f651ba4 .icon-box5 .icon svg {
            color: #f8796c;
            background-color: #fff;
        }

        .block_167051ed-8b2b-4513-b2f2-c1bf9f651ba4 .icon-box5 .content .title {
            color: #333;
        }

        .block_167051ed-8b2b-4513-b2f2-c1bf9f651ba4 .icon-box5 .content p {
            color: #696969;
        }

        .block_167051ed-8b2b-4513-b2f2-c1bf9f651ba4 .icon-box4 .inner .content .title {
            color: #333;
        }

        .block_167051ed-8b2b-4513-b2f2-c1bf9f651ba4 .icon-box4 .inner .content p {
            color: #696969;
        }
    </style>
    <style data-shopify="">
        #section-template--15812670685241__our-feature-two {
            padding-top: 0px;
            padding-bottom: 100px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            #section-template--15812670685241__our-feature-two {
                padding-top: 0px;
                padding-bottom: 80px;
            }
        }

        @media (max-width: 767px) {
            #section-template--15812670685241__our-feature-two {
                padding-top: 0px;
                padding-bottom: 60px;
            }
        }
    </style>



</div>
<div id="shopify-section-template--15812670685241__video-banner-3" class="shopify-section">
    <!-- Video Banner Section Start -->
    <div id="section-template--15812670685241__video-banner-3" class="section   section-normal ">
        <div class="container">
            <div class="video-banner2"
                data-bg-image="//learts-demo.myshopify.com/cdn/shop/files/slide-3_75cc0a62-6922-4676-a983-5a4574dafb79.jpg?v=1613706195"
                style="background-image: url(&quot;//learts-demo.myshopify.com/cdn/shop/files/slide-3_75cc0a62-6922-4676-a983-5a4574dafb79.jpg?v=1613706195&quot;);">
                <div class="content">
                    <a href="https://www.youtube.com/watch?v=_9VUPq3SxOc" class="video-popup"><img class="lazyload"
                            src="//learts-demo.myshopify.com/cdn/shop/files/button-play-light_1024x1024.png?v=1613705864"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Banner Section End -->
    <style data-shopify="">
        #section-template--15812670685241__video-banner-3 {}

        @media (min-width: 768px) and (max-width: 991px) {
            #section-template--15812670685241__video-banner-3 {}
        }

        @media (max-width: 767px) {
            #section-template--15812670685241__video-banner-3 {}
        }
    </style>
    <style>
        .video-banner .content .title {
            color: ;
        }
    </style>


</div>
<div id="shopify-section-template--15812670685241__our-feature" class="section section-padding section-normal">



</div>


</Layout>