---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About SPellbound Magical Gifts">


<div id="section-template--14120370864185__162980389531f0c3b7" class="section section-padding  section-normal ">
        <div class="container">

            <div class="section-title2 row justify-content-between align-items-center">

                <div class="col-md-auto col-12">
                    <!-- Section Title Start --><h2 class="title title-icon-right">Healings</h2><!-- Section Title End -->

                    <p>Bookings are essential.
                </div>

            </div>

            <div class="row row-cols-lg-2 row-cols-1 learts-mb-n40">


                <div class="col learts-mb-40 pr-xl-5">
                    <div class="team">
                        <div class="image">

                            <img class=" ls-is-cached lazyloaded" src="/img/people/katrina.jpg" alt="">

                        </div>
                        <div class="content">

                            <h6 class="name">Katrina</h6>
                            <span class="title">Energy PRactitioner</span>
                  <p>Katrina Nockolds is available for intuitive healing sessions on Mondays, Wednesdays, Fridays or Saturdays by appointment only.</p>
<p>Katrina offers holistic, intuitive healing for children, teens, parents and the adult inner child.</p>
<p>Katrina is a qualified teacher, Reiki, Pellowah &amp; Seichim Practitioner, and a Children’s Wellbeing Practitioner.</p>
<p>Consultations / healing sessions are tailored to suit the age &amp; needs of the individual but generally include a combination of chakra balancing, movement and vibrational energy healing.</p>
<p>For more information, or to make a booking, please phone Katrina on 0435187259.</p>

                        </div>

                    </div>
                </div>






                <div class="col learts-mb-40  pr-xl-5">

                    <div class="team">
                        <div class="image">

                            <img class=" ls-is-cached lazyloaded" src="/img/people/denise.jpg" alt="">

                        </div>
                        <div class="content">
                            <h6 class="name">Denise </h6>
                            <span class="title">Crystal Bed Healings</span>
                                <p>$50 approx 45 minutes (Duration varies)</p>
                <p>Denise has many years of experience offering different healing modalities including Massage, Reflexology, &amp; Reiki.</p>
                <p>Denise offers Crystal Bed Healings by appointment in our healing space on Wednesday afternoons.</p>
                <p>A session begins with a gentle mini meditation, then involves you relaxing fully clothed on a treatment bed under 7 beautiful crystal lights for approx 30 mins, &amp; then ends with some grounding back into your physical body.</p>
                <p>The coloured light rays help with physical, mental and spiritual energy imbalances.</p>
                <p>Please contact us on 85232460 to book a session.</p>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</Layout