<div id="shopify-section-footer_2" class="shopify-section">
<div id="section-footer_2" class="footer2-section section section-padding   section-normal ">
  <div class="container">
    <div class="row learts-mb-n40">


      <div class="col-lg-6 learts-mb-40">
        <div class="widget-about"><a href="/">
            <img class=" ls-is-cached lazyloaded" src="//learts-demo.myshopify.com/cdn/shop/files/logo-2_300x300.png?v=1613704039" alt="Learts Demo">
          </a>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod itaque recusandae commodi mollitia facere iure nisi, laudantium quis quas perferendis a minus dolores.</p></div>
      </div>



      <div class="col-lg-2 learts-mb-40">
        <div class="row">
          <div class="col">

            <ul class="widget-list">


              <li><a href="#"> About us</a></li>

              <li><a href="#"> Store location</a></li>

              <li><a href="#"> Contact</a></li>

              <li><a href="#"> Orders</a></li>

            </ul>
          </div>
        </div>
      </div>



      <div class="col-lg-2 learts-mb-40">
        <div class="row">
          <div class="col">

            <ul class="widget-list">


              <li><a href="#"> Returns</a></li>

              <li><a href="#"> Support Policy</a></li>

              <li><a href="#"> Size Guide</a></li>

              <li><a href="#"> FAQs</a></li>

            </ul>
          </div>
        </div>
      </div>



      <div class="col-lg-2 learts-mb-40">

<ul class="widget-list">

  <li> <i class="fab fa-twitter"></i> <a href="">twitter</a></li>


  <li> <i class="fab fa-facebook-f"></i> <a href="">facebook</a></li>


  <li> <i class="fab fa-instagram"></i> <a href="">instagram</a></li>


  <li> <i class="fab fa-youtube"></i> <a href="">youtube</a></li>





</ul>
</div>




    </div>
  </div>
</div>










<div class="footer2-copyright section">
  <div class="container">
    <p class="copyright text-center">© 2020 learts. All Rights Reserved</p>
  </div>
</div>


<style>











  .footer2-section {
    position: relative;
  }
  .footer_overlay::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: .5;
  }
  .footer_overlay::before  {
    background: #000000;
    opacity: 0.5;
  }
  .widget-about a {
    margin-bottom: 20px;
  }

</style>


</div>