---
interface Props {
title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html
    class="js supports-no-cookies sizes websockets customelements history postmessage webworkers picture pointerevents webanimations webgl srcset flexbox cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside sizes websockets customelements history postmessage webworkers picture pointerevents webanimations webgl srcset flexbox cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside"
    lang="en" style="height: 100%; padding-bottom: 60px;"><!--<![endif]-->

<head>
    <!-- Basic and Helper page needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#72a499">

    <title>
        Learts Demo
    </title>




    <!-- CSS -->
    <link href="//learts-demo.myshopify.com/cdn/shop/t/51/assets/timber.scss.css?v=177571282165090492921697889505"
        rel="stylesheet" type="text/css" media="all">
    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <link href="//learts-demo.myshopify.com/cdn/shop/t/51/assets/bootstrap.min.css?v=90869400946681534311675935637"
        rel="stylesheet" type="text/css" media="all">
    <link href="//learts-demo.myshopify.com/cdn/shop/t/51/assets/themify-icons.css?v=17828378678609318721676282558"
        rel="stylesheet" type="text/css" media="all">
    <link href="//learts-demo.myshopify.com/cdn/shop/t/51/assets/customFonts.css?v=40388692542242771991675935637"
        rel="stylesheet" type="text/css" media="all">
    <link href="//learts-demo.myshopify.com/cdn/shop/t/51/assets/vendor.css?v=111603181540343972631675935637"
        rel="stylesheet" type="text/css" media="all">



    <!-- Link your style.css and responsive.css files below -->
    <link href="//learts-demo.myshopify.com/cdn/shop/t/51/assets/style.css?v=29631887237755522321681271734"
        rel="stylesheet" type="text/css" media="all">

    <!-- Theme Default CSS -->
    <link href="//learts-demo.myshopify.com/cdn/shop/t/51/assets/theme-default.css?v=152268000664024370901688644120"
        rel="stylesheet" type="text/css" media="all">

    <!-- Make your theme CSS calls here -->
    <link href="//learts-demo.myshopify.com/cdn/shop/t/51/assets/theme-custom.css?v=45984183238754192051702791564"
        rel="stylesheet" type="text/css" media="all">



    <!-- Make your theme RTL CSS calls here -->
    <link href="//learts-demo.myshopify.com/cdn/shop/t/51/assets/theme-responsive.css?v=87744342255140655021693373687"
        rel="stylesheet" type="text/css" media="all">

    <!-- Make all your dynamic CSS and Color calls here -->
    <link href="/css/skin-and-color.css?v=114785602935928439741697889505"
        rel="stylesheet" type="text/css" media="all">


<body id="learts-demo" class="template-index " style="position: relative; min-height: 100%; top: 0px;">

    <div class="wrapper ">
        <div id="shopify-section-header" class="shopify-section">

            <div id="section-header" class="main_header_area" data-section="headerscript">
                <!-- Topbar Section Start -->
                <div class="topbar-section section bg-primary2  section-normal ">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-md-auto col-12">
                                <p class="text-white text-center my-2text-md-left">Free shipping for orders over $59 !
                                </p>
                            </div>

                            <div class="col-auto d-none d-md-block">
                                <div class="topbar-menu  d-flex flex-row-reverse">

                                <ul>
                                    <li><a href="#" class="text-white"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg></span>Store Location</a></li>


                                    <li><a href="#" class="text-white"><span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg></span>Order Status</a></li>



                                </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Topbar Section End -->


                <!-- Header Section Start -->
                <div class="header-section section bg-white d-none d-xl-block  section-normal ">
                    <div class="container">
                        <div class="row row-cols-lg-3 align-items-center">
                            <!-- Header Language & Currency Start -->
                            <div class="col">

                            </div>
                            <!-- Header Language & Currency End -->
                            <!-- Header Logo Start -->
                            <div class="col">
                                <div class="header-logo justify-content-center">
                                    <a href="/" class="theme-logo">
                                        <img class=" ls-is-cached lazyloaded"
                                            src="img/logo.png"
                                            alt="Learts Demo"
                                            srcset="img/logo.png"
                                            style="height:80px">
                                    </a>
                                </div>
                            </div>
                            <!-- Header Logo End -->

                            <!-- Header Tools Start -->

                            <div class="col">
                                <div class="header-tools justify-content-end">



                                </div>
                            </div>

                            <!-- Header Tools End -->
                        </div>
                    </div>
                    <!-- Site Menu Section Start -->
                    <div class="site-menu-section section">
                        <div class="container">
                            <nav class="site-main-menu justify-content-center">
                                <ul id="”navigation-main”">
                                    <li class="has-children active"><a href="/">
                                            <span class="menu-text">Home </span></a>

                                    </li>
                                    <li class="has-children"><a href="/collections/all">
                                            <span class="menu-text">Shop <svg xmlns="http://www.w3.org/2000/svg"
                                                    width="20" height="20" viewBox="0 0 24 24" fill="none"
                                                    stroke="currentColor" stroke-width="0.5" stroke-linecap="round"
                                                    stroke-linejoin="round" class="feather feather-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg></span></a>
                                        <ul class="sub-menu mega-menu">
                                            <li class="mega_dropdown">
                                                <a href="#" class="mega-menu-title"><span class="menu-text">SHOP
                                                        PAGES</span></a>
                                                <ul>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120297750585"><span
                                                                class="menu-text">Shop No Sidebar</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Shop Left Sidebar</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120298668089"><span
                                                                class="menu-text">Shop Right Sidebar</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120306008121"><span
                                                                class="menu-text">Shop Fullwidth No Space</span></a>
                                                    </li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120308334649"><span
                                                                class="menu-text">Shop Fullwidth No Sidebar</span></a>
                                                    </li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120317706297"><span
                                                                class="menu-text">Shop Fullwidth Left Sidebar</span></a>
                                                    </li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120318394425"><span
                                                                class="menu-text">Shop Fullwidth Right
                                                                Sidebar</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="mega_dropdown">
                                                <a href="#" class="mega-menu-title"><span class="menu-text">PRODUCT
                                                        PAGES</span></a>
                                                <ul>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/5-simple-product/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Basic</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/copy-of-3d-attractive-pot/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Product 3D</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/11-product-with-video/?preview_theme_id=120297750585"><span
                                                                class="menu-text">Fullwidth</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/9-without-shortcode-product/?preview_theme_id=120298668089"><span
                                                                class="menu-text">Sticky Details</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/product-title-here-2/?preview_theme_id=120306008121"><span
                                                                class="menu-text">Extra Content</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/product-dummy-title/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Variations Images</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/11-product-with-video/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Product Video</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/grey-tool/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Countdown Product</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="mega_dropdown">
                                                <a href="#" class="mega-menu-title"><span class="menu-text">PRODUCT
                                                        &amp; Other PAGES</span></a>
                                                <ul>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/products/5-simple-product/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Product with Background</span></a>
                                                    </li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/cart/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Shopping Cart</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/27249377337/checkouts/50f8c715af97471559bc947ddd1886f7/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Checkout</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/pages/wishlist/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Wishlist</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/account/login/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Customer Login</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/account/?preview_theme_id=120284414009"><span
                                                                class="menu-text">My Account</span></a></li>
                                                    <li><a
                                                            href="https://learts-demo.myshopify.com/account/login#recover/?preview_theme_id=120284414009"><span
                                                                class="menu-text">Lost Password</span></a></li>
                                                </ul>
                                            </li>
                                            <li class="mega_dropdown mega_gallery">
                                                <div class="mega_menu_cat_banner"
                                                    id="block-40f0967f-863c-4c95-97c8-8934f9862543">
                                                    <a href="/" class="menu-banner">
                                                        <img src="//learts-demo.myshopify.com/cdn/shop/files/menu-banner-2.png?v=1613704004 "
                                                            class="img-fluid ls-is-cached lazyloaded" alt="">
                                                        <div class="mega_banner_content">
                                                            <div class="title1">Sale</div>
                                                            <div class="title2">50%</div>
                                                            <div class="content">Lorem Ipsum Dolor</div>
                                                            <p class="banner__btn">sho9 now!</p>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="has-children"><a href="#">
                                            <span class="menu-text">Tarot Readings </span></a>

                                    </li>
                                    <li class="has-children"><a href="#">
                                            <span class="menu-text">Healings </span></a>

                                    </li>

                                    <li class="has-children"><a href="#">
                                            <span class="menu-text">Contact </span></a>

                                    </li>
                                </ul>

                            </nav>
                        </div>
                    </div><!-- Site Menu Section End -->
                </div>
                <!-- Header Section End -->



                <!-- Header Sticky Section Start -->
                <!-- Header Sticky Section End -->

                <!-- Mobile Header Section Start -->
                <div class="mobile-header bg-white section d-xl-none">
                    <div class=" container ">
                        <div class="row align-items-center">

                            <!-- Header Logo Start -->
                            <div class="col">
                                <div class="header-logo">
                                    <a href="/" class="theme-logo">
                                        <img class="lazyload"
                                            src="//learts-demo.myshopify.com/cdn/shop/files/logo-2_225x.png?v=1613704039"
                                            alt="Learts Demo"
                                            srcset="//learts-demo.myshopify.com/cdn/shop/files/logo-2_225x.png?v=1613704039 1x, //learts-demo.myshopify.com/cdn/shop/files/logo-2_225x@2x.png?v=1613704039 2x">
                                    </a>
                                </div>
                            </div>
                            <!-- Header Logo End -->

                            <!-- Header Tools Start -->

                            <div class="col-auto">
                                <div class="header-tools justify-content-end">

                                    <div class="header-login d-none d-sm-block">

                                        <a href="/account/login"><!--?xml version="1.0" ?--><svg fill="none"
                                                viewBox="0 0 24 24" stroke-width="1.0"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g id="User">
                                                    <path clip-rule="evenodd"
                                                        d="M0.25 20C0.25 16.2721 3.27208 13.25 7 13.25H17C20.7279 13.25 23.75 16.2721 23.75 20V22C23.75 22.9665 22.9665 23.75 22 23.75H2C1.0335 23.75 0.25 22.9665 0.25 22V20ZM7 14.75C4.10051 14.75 1.75 17.1005 1.75 20V22C1.75 22.1381 1.86193 22.25 2 22.25H22C22.1381 22.25 22.25 22.1381 22.25 22V20C22.25 17.1005 19.8995 14.75 17 14.75H7Z"
                                                        fill="currentColor" fill-rule="evenodd"
                                                        id="Rectangle 39 (Stroke)"></path>
                                                    <path clip-rule="evenodd"
                                                        d="M11.5 1.75C8.87665 1.75 6.75 3.87665 6.75 6.5C6.75 9.12335 8.87665 11.25 11.5 11.25C14.1234 11.25 16.25 9.12335 16.25 6.5C16.25 3.87665 14.1234 1.75 11.5 1.75ZM5.25 6.5C5.25 3.04822 8.04822 0.25 11.5 0.25C14.9518 0.25 17.75 3.04822 17.75 6.5C17.75 9.95178 14.9518 12.75 11.5 12.75C8.04822 12.75 5.25 9.95178 5.25 6.5Z"
                                                        fill="currentColor" fill-rule="evenodd"
                                                        id="Ellipse 21 (Stroke)"></path>
                                                </g>
                                            </svg></a>

                                    </div>


                                    <div class="header-search d-none d-sm-block">
                                        <a href="#offcanvas-search" class="offcanvas-toggle"><svg
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.2" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z">
                                                </path>
                                            </svg></a>
                                    </div>


                                    <div class="header-wishlist d-none d-sm-block">
                                        <a href="/pages/wishlist" class="offcanvas-toggle"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-heart">
                                                <path
                                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                </path>
                                            </svg></a>
                                    </div>


                                    <div class="header-cart">
                                        <a href="#offcanvas-cart" class="offcanvas-toggle"><span
                                                class="cart-count bigcounter">0</span><svg
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.2" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z">
                                                </path>
                                            </svg></a>
                                    </div>

                                    <div class="mobile-menu-toggle">
                                        <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                                            <i></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Header Tools End -->
                        </div>
                    </div>
                </div>
                <!-- Mobile Header Section End -->

                <!-- Mobile Header Section Start -->
                <div class="mobile-header sticky-header bg-white section d-xl-none">
                    <div class=" container ">
                        <div class="row align-items-center">
                            <!-- Header Logo Start -->
                            <div class="col">
                                <div class="header-logo">
                                    <a href="/" class="theme-logo">
                                        <img class="lazyload"
                                            src="//learts-demo.myshopify.com/cdn/shop/files/logo-2_225x.png?v=1613704039"
                                            alt="Learts Demo"
                                            srcset="//learts-demo.myshopify.com/cdn/shop/files/logo-2_225x.png?v=1613704039 1x, //learts-demo.myshopify.com/cdn/shop/files/logo-2_225x@2x.png?v=1613704039 2x">
                                    </a>
                                </div>
                            </div>
                            <!-- Header Logo End -->
                            <!-- Header Tools Start -->

                            <div class="col-auto">
                                <div class="header-tools justify-content-end">

                                    <div class="header-login d-none d-sm-block">

                                        <a href="/account/login"><!--?xml version="1.0" ?--><svg fill="none"
                                                viewBox="0 0 24 24" stroke-width="1.0"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g id="User">
                                                    <path clip-rule="evenodd"
                                                        d="M0.25 20C0.25 16.2721 3.27208 13.25 7 13.25H17C20.7279 13.25 23.75 16.2721 23.75 20V22C23.75 22.9665 22.9665 23.75 22 23.75H2C1.0335 23.75 0.25 22.9665 0.25 22V20ZM7 14.75C4.10051 14.75 1.75 17.1005 1.75 20V22C1.75 22.1381 1.86193 22.25 2 22.25H22C22.1381 22.25 22.25 22.1381 22.25 22V20C22.25 17.1005 19.8995 14.75 17 14.75H7Z"
                                                        fill="currentColor" fill-rule="evenodd"
                                                        id="Rectangle 39 (Stroke)"></path>
                                                    <path clip-rule="evenodd"
                                                        d="M11.5 1.75C8.87665 1.75 6.75 3.87665 6.75 6.5C6.75 9.12335 8.87665 11.25 11.5 11.25C14.1234 11.25 16.25 9.12335 16.25 6.5C16.25 3.87665 14.1234 1.75 11.5 1.75ZM5.25 6.5C5.25 3.04822 8.04822 0.25 11.5 0.25C14.9518 0.25 17.75 3.04822 17.75 6.5C17.75 9.95178 14.9518 12.75 11.5 12.75C8.04822 12.75 5.25 9.95178 5.25 6.5Z"
                                                        fill="currentColor" fill-rule="evenodd"
                                                        id="Ellipse 21 (Stroke)"></path>
                                                </g>
                                            </svg></a>

                                    </div>


                                    <div class="header-search d-none d-sm-block">
                                        <a href="#offcanvas-search" class="offcanvas-toggle"><svg
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.2" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z">
                                                </path>
                                            </svg></a>
                                    </div>


                                    <div class="header-wishlist d-none d-sm-block">
                                        <a href="/pages/wishlist" class="offcanvas-toggle"><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                                stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
                                                stroke-linejoin="round" class="feather feather-heart">
                                                <path
                                                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                                </path>
                                            </svg></a>
                                    </div>


                                    <div class="header-cart">
                                        <a href="#offcanvas-cart" class="offcanvas-toggle"><span
                                                class="cart-count bigcounter">0</span><svg
                                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.2" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z">
                                                </path>
                                            </svg></a>
                                    </div>

                                    <div class="mobile-menu-toggle">
                                        <a href="#offcanvas-mobile-menu" class="offcanvas-toggle">
                                            <i></i>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <!-- Header Tools End -->
                        </div>
                    </div>
                </div>
                <!-- Mobile Header Section End -->
                <!-- OffCanvas Search Start --><!-- OffCanvas Search Start -->
                <predictive-search id="predictive-search-toggle" search-open="false">
                    <div id="offcanvas-search" class="offcanvas offcanvas-search">
                        <div class="inner">
                            <div class="offcanvas-search-form">
                                <button class="offcanvas-close">×</button>
                                <form action="/search" method="get" role="search" style="position: relative;">
                                    <div class="row mb-n3">
                                        <div class="col-lg-12 col-12 mb-3">

                                            <input id="Search" type="search" name="q" value="" role="combobox"
                                                aria-expanded="false" aria-owns="predictive-search-results-list"
                                                aria-controls="predictive-search-results-list" aria-haspopup="listbox"
                                                aria-autocomplete="list" autocorrect="off" autocomplete="off"
                                                autocapitalize="off" spellcheck="false" class="header-search-field"
                                                placeholder="Search our store">
                                        </div>
                                    </div>
                                    <div id="predictive-search" tabindex="-1"></div>
                                    <ul class="search-results home-two"
                                        style="position: absolute; left: 0px; top: 48px; display: none;"></ul>
                                </form>
                            </div>
                            <p class="search-description text-body-light mt-2"> <span># Type at least 1 character to
                                    search</span> <span># Hit enter to search or ESC to close</span></p>
                        </div>
                    </div>
                </predictive-search>
                <!-- OffCanvas Search End -->













                <!-- OffCanvas Search End -->

                <!-- OffCanvas Cart Start -->
                <div id="offcanvas-cart" class="offcanvas offcanvas-cart">



                    <span class="item-single-item-count"></span>
                    <span class="item-multiple-item-count"></span>
                    <span class="cart-empty-title" style="display:block;"></span>

                    <div class="inner">
                        <div class="head">
                            <span class="title">Cart</span>
                            <button class="offcanvas-close">×</button>
                        </div>

                        <div class="body customScroll ps ps--theme_default"
                            data-ps-id="9a805883-7519-8816-e2e9-806c95796cab">
                            <ul class="cart-empty-title" style="display:block;">
                                <h4>Your cart is currently empty.</h4>
                            </ul>

                            <ul class="cart-box-product minicart-product-list" style="display:none;">

                            </ul>
                            <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                                <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                            </div>
                        </div>

                        <div class="cart-box-product foot" style="display:none;">
                            <div class="sub-total">
                                <strong>Total:</strong>
                                <span class="amount shopping-cart__total"><span class="money"
                                        data-currency-usd="$0.00">$0.00</span></span>
                            </div>
                            <div class="cart-box-product buttons disabled"><input type="checkbox" id="ageree_term_cond"
                                    value="1">
                                <label for="ageree_term_cond">I agree with the terms and conditions</label><a
                                    href="/checkout" class="checkout_btn btn btn-outline-dark">Checkout</a><a
                                    href="/cart" class="cart_btn btn btn-dark btn-hover-primary">View Cart</a>
                            </div>
                            <p class="cart-box-product minicart-message">Free Shipping on All Orders Over $100!</p>
                        </div>
                    </div>
                </div>
                <!-- OffCanvas Cart End -->

                <!-- OffCanvas Search Start -->
                <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
                    <div class="inner customScroll ps ps--theme_default"
                        data-ps-id="96511f36-5446-75a2-f6c0-0b2975d9c4be">
                        <div class="offcanvas-menu-search-form"><predictive-search id="predictive-search-toggle"
                                search-open="false">
                                <form action="/search" method="get" role="search" style="position: relative;">

                                    <input id="Search" type="search" name="q" value="" role="combobox"
                                        aria-expanded="false" aria-owns="predictive-search-results-list"
                                        aria-controls="predictive-search-results-list" aria-haspopup="listbox"
                                        aria-autocomplete="list" autocorrect="off" autocomplete="off"
                                        autocapitalize="off" spellcheck="false" class="header-search-field"
                                        placeholder="Search our store">
                                    <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                            viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor"
                                            class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z">
                                            </path>
                                        </svg></button>
                                    <div id="predictive-search" tabindex="-1"></div>
                                    <ul class="search-results home-two"
                                        style="position: absolute; left: 0px; top: 44px; display: none;"></ul>
                                </form>
                            </predictive-search></div>


                        <div class="offcanvas-menu">
                            <ul>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/"><span
                                            class="menu-text">Home</span></a>
                                    <ul class="sub-menu" style="">
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">HOME GROUP</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=130312011833"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-01.jpg?v=1603175608">
                                                        Arts Propelled</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120297750585"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-02.jpg?v=1603175608">Decor
                                                        Thriving</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120298668089"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-03.jpg?v=1603175608">
                                                        Savvy Delight</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120306008121"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-04.jpg?v=1603175608">
                                                        Perfect Escapes</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120320819257"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/hp-16-thumbnail.jpg?v=1622104771">
                                                        Valentine Gift</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=125766664249"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-15.jpg?v=1603175608">Craft'n
                                                        Creations</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">HOME GROUP</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120307286073"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-05.jpg?v=1603175608">
                                                        Kitchen Cozy</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120308334649"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-06.jpg?v=1603175608">
                                                        Dreamy Designs</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120317706297"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-07.jpg?v=1603175608">
                                                        Crispy Recipes</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120318394425"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-08.jpg?v=1603175608">
                                                        Decoholic Chic</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120320983097"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/homepage-13.jpg?v=1624426733">
                                                        Christmas</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=130260697145"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/16.jpg?v=1674970377">
                                                        Kitchen Cozy 2</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">HOME GROUP</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120318525497"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-9.jpg?v=1603175608">
                                                        Reblended Dish</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120319344697"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-10.jpg?v=1603175608">
                                                        Craftin House</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120319672377"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-11.jpg?v=1603175608">
                                                        Craftswork Biz</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=125385343033"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-14.jpg?v=1603175608">Baby
                                                        Carrier</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120321081401"><img
                                                            class="mmh_img "
                                                            src="https://cdn.shopify.com/s/files/1/0272/4937/7337/files/home-01.jpg?v=1603175608">
                                                        Home RTL</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="/collections/all"><span class="menu-text">Shop</span></a>
                                    <ul class="sub-menu" style="">
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">SHOP PAGES</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120297750585">Shop
                                                        No Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120284414009">Shop
                                                        Left Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120298668089">Shop
                                                        Right Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120306008121">Shop
                                                        Fullwidth No Space</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120308334649">Shop
                                                        Fullwidth No Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120317706297">Shop
                                                        Fullwidth Left Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/collections/all/?preview_theme_id=120318394425">Shop
                                                        Fullwidth Right Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">PRODUCT PAGES</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/5-simple-product/?preview_theme_id=120284414009">Basic</a>
                                                </li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/copy-of-3d-attractive-pot/?preview_theme_id=120284414009">Product
                                                        3D</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/11-product-with-video/?preview_theme_id=120297750585">Fullwidth</a>
                                                </li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/9-without-shortcode-product/?preview_theme_id=120298668089">Sticky
                                                        Details</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/product-title-here-2/?preview_theme_id=120306008121">Extra
                                                        Content</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/product-dummy-title/?preview_theme_id=120284414009">Variations
                                                        Images</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/11-product-with-video/?preview_theme_id=120284414009">Product
                                                        Video</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/grey-tool/?preview_theme_id=120284414009">Countdown
                                                        Product</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">PRODUCT &amp; Other PAGES</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/products/5-simple-product/?preview_theme_id=120284414009">Product
                                                        with Background</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/cart/?preview_theme_id=120284414009">Shopping
                                                        Cart</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/27249377337/checkouts/50f8c715af97471559bc947ddd1886f7/?preview_theme_id=120284414009">Checkout</a>
                                                </li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/pages/wishlist/?preview_theme_id=120284414009">Wishlist</a>
                                                </li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/account/login/?preview_theme_id=120284414009">Customer
                                                        Login</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/account/?preview_theme_id=120284414009">My
                                                        Account</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/account/login#recover/?preview_theme_id=120284414009">Lost
                                                        Password</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#"><span
                                            class="menu-text">Project</span></a>
                                    <ul class="sub-menu" style="">
                                        <li><a
                                                href="https://learts-demo.myshopify.com/pages/portfolio/?preview_theme_id=120284414009"><span
                                                    class="menu-text">Portfolio 3 Columns</span></a></li>
                                        <li><a
                                                href="https://learts-demo.myshopify.com/pages/portfolio/?preview_theme_id=120297750585"><span
                                                    class="menu-text">Portfolio 4 Columns</span></a></li>
                                        <li><a
                                                href="https://learts-demo.myshopify.com/pages/portfolio/?preview_theme_id=120298668089"><span
                                                    class="menu-text">Portfolio 5 Columns</span></a></li>
                                        <li><a
                                                href="https://learts-demo.myshopify.com/blogs/portfolio/square-rosewood-box-1/?preview_theme_id=120284414009"><span
                                                    class="menu-text">Portfolio Details</span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#"><span
                                            class="menu-text">Elements</span></a>
                                    <ul class="sub-menu" style="">
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">Column One</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=130312011833#section-template--15812670619705__16289384314b269b9b">Product
                                                        Styles</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120298668089#section-template--14118722240569__16297138035488ed87">Product
                                                        Tabs</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=130312011833#section-template--15812670619705__16287699563b9a7967">Product
                                                        &amp; Sale Banner</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">Column Two</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120298668089#section-template--14118722240569__162971628924362b2a">Category
                                                        Banner</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120306008121#section-template--14120370864185__162980389531f0c3b7">Team
                                                        Member</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120306008121#section-template--14120370864185__1629804387733cb46a">Testimonials</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">Column Three</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120297750585#section-template--14118463143993__16293531245dc22370">Instagram</a>
                                                </li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/pages/contact-us#shopify-section-template--15812670750777__contact-info-with-map">Google
                                                        Map</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=125385343033#section-template--14939723202617__1650964984c23c9b00">Icon
                                                        Box</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span>
                                            <a href="#"><span class="menu-text">Column Four</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120318394425#section-template--14122799726649__163101042893c89cde">Deal
                                                        Of The Day</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120298668089#section-template--14118722240569__16297185601031a325">Latest
                                                        Blog</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/?preview_theme_id=120298668089#section-template--14118722240569__1629717830e43e3e66">Brands</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=83810222137"><span
                                            class="menu-text">Blog</span></a>
                                    <ul class="sub-menu" style="">
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                                href="#"><span class="menu-text">Standard Layout</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120284414009">Right
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120297750585">Left
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120298668089">Full
                                                        Width</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                                href="#"><span class="menu-text">Grid Layout</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120306008121">Right
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120307286073">Left
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120308334649">Full
                                                        Width</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                                href="#"><span class="menu-text">List Layout</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120317706297">Right
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120318394425">Left
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120318525497">Full
                                                        Width</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                                href="#"><span class="menu-text">Masonry Layout</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120319344697">Right
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120319672377">Left
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120308334649">Full
                                                        Width</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                                href="#"><span class="menu-text">Single Post Layout</span></a>
                                            <ul class="sub-menu" style="">
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120284414009">Right
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120297750585">Left
                                                        Sidebar</a></li>
                                                <li><a
                                                        href="https://learts-demo.myshopify.com/blogs/news/?preview_theme_id=120298668089">Full
                                                        Width</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/blogs/news"><span class="menu-text">Blog Grid</span></a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#"><span
                                            class="menu-text">Pages</span></a>
                                    <ul class="sub-menu" style="">
                                        <li><a href="/pages/about-us"><span class="menu-text">About us</span></a></li>
                                        <li><a href="/pages/about-us-02"><span class="menu-text">About us 02</span></a>
                                        </li>
                                        <li><a href="/pages/contact-us"><span class="menu-text">Contact us</span></a>
                                        </li>
                                        <li><a href="#"><span class="menu-text">Coming Soon</span></a></li>
                                        <li><a href="/pages/faq"><span class="menu-text">FAQ</span></a></li>
                                        <li><a href="https://learts-demo.myshopify.com/404"><span class="menu-text">Page
                                                    404</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>


                        <div class="offcanvas-buttons">
                            <div class="header-tools">

                                <div class="header-login">

                                    <a href="/account/login"><!--?xml version="1.0" ?--><svg fill="none"
                                            viewBox="0 0 24 24" stroke-width="1.0" xmlns="http://www.w3.org/2000/svg">
                                            <g id="User">
                                                <path clip-rule="evenodd"
                                                    d="M0.25 20C0.25 16.2721 3.27208 13.25 7 13.25H17C20.7279 13.25 23.75 16.2721 23.75 20V22C23.75 22.9665 22.9665 23.75 22 23.75H2C1.0335 23.75 0.25 22.9665 0.25 22V20ZM7 14.75C4.10051 14.75 1.75 17.1005 1.75 20V22C1.75 22.1381 1.86193 22.25 2 22.25H22C22.1381 22.25 22.25 22.1381 22.25 22V20C22.25 17.1005 19.8995 14.75 17 14.75H7Z"
                                                    fill="currentColor" fill-rule="evenodd" id="Rectangle 39 (Stroke)">
                                                </path>
                                                <path clip-rule="evenodd"
                                                    d="M11.5 1.75C8.87665 1.75 6.75 3.87665 6.75 6.5C6.75 9.12335 8.87665 11.25 11.5 11.25C14.1234 11.25 16.25 9.12335 16.25 6.5C16.25 3.87665 14.1234 1.75 11.5 1.75ZM5.25 6.5C5.25 3.04822 8.04822 0.25 11.5 0.25C14.9518 0.25 17.75 3.04822 17.75 6.5C17.75 9.95178 14.9518 12.75 11.5 12.75C8.04822 12.75 5.25 9.95178 5.25 6.5Z"
                                                    fill="currentColor" fill-rule="evenodd" id="Ellipse 21 (Stroke)">
                                                </path>
                                            </g>
                                        </svg></a>

                                </div>


                                <div class="header-wishlist">
                                    <a href="/pages/wishlist" class="offcanvas-toggle"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                                            stroke="currentColor" stroke-width="1.2" stroke-linecap="round"
                                            stroke-linejoin="round" class="feather feather-heart">
                                            <path
                                                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                            </path>
                                        </svg></a>
                                </div>


                                <div class="header-cart"><a href="/cart"><span
                                            class="cart-count bigcounter">0</span><svg
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.2" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z">
                                            </path>
                                        </svg></a>
                                </div>

                            </div>
                        </div>


                        <div class="offcanvas-social">

                            <a title="Facebook" href="#"><!--?xml version="1.0"?--><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="20px" height="20px">
                                    <path
                                        d="M32,11h5c0.552,0,1-0.448,1-1V3.263c0-0.524-0.403-0.96-0.925-0.997C35.484,2.153,32.376,2,30.141,2C24,2,20,5.68,20,12.368 V19h-7c-0.552,0-1,0.448-1,1v7c0,0.552,0.448,1,1,1h7v19c0,0.552,0.448,1,1,1h7c0.552,0,1-0.448,1-1V28h7.222 c0.51,0,0.938-0.383,0.994-0.89l0.778-7C38.06,19.518,37.596,19,37,19h-8v-5C29,12.343,30.343,11,32,11z">
                                    </path>
                                </svg></a>


                            <a title="Twitter" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
                                    width="20px" height="20px">
                                    <path
                                        d="M 50.0625 10.4375 C 48.214844 11.257813 46.234375 11.808594 44.152344 12.058594 C 46.277344 10.785156 47.910156 8.769531 48.675781 6.371094 C 46.691406 7.546875 44.484375 8.402344 42.144531 8.863281 C 40.269531 6.863281 37.597656 5.617188 34.640625 5.617188 C 28.960938 5.617188 24.355469 10.21875 24.355469 15.898438 C 24.355469 16.703125 24.449219 17.488281 24.625 18.242188 C 16.078125 17.8125 8.503906 13.71875 3.429688 7.496094 C 2.542969 9.019531 2.039063 10.785156 2.039063 12.667969 C 2.039063 16.234375 3.851563 19.382813 6.613281 21.230469 C 4.925781 21.175781 3.339844 20.710938 1.953125 19.941406 C 1.953125 19.984375 1.953125 20.027344 1.953125 20.070313 C 1.953125 25.054688 5.5 29.207031 10.199219 30.15625 C 9.339844 30.390625 8.429688 30.515625 7.492188 30.515625 C 6.828125 30.515625 6.183594 30.453125 5.554688 30.328125 C 6.867188 34.410156 10.664063 37.390625 15.160156 37.472656 C 11.644531 40.230469 7.210938 41.871094 2.390625 41.871094 C 1.558594 41.871094 0.742188 41.824219 -0.0585938 41.726563 C 4.488281 44.648438 9.894531 46.347656 15.703125 46.347656 C 34.617188 46.347656 44.960938 30.679688 44.960938 17.09375 C 44.960938 16.648438 44.949219 16.199219 44.933594 15.761719 C 46.941406 14.3125 48.683594 12.5 50.0625 10.4375 Z">
                                    </path>
                                </svg>
                            </a>


                            <a title="Instagram" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"
                                    width="20px" height="20px">
                                    <path
                                        d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z">
                                    </path>
                                </svg></a>


                            <a title="Youtube" href="#"><!--?xml version="1.0"?--><svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24px" height="24px">
                                    <path
                                        d="M21.582,6.186c-0.23-0.86-0.908-1.538-1.768-1.768C18.254,4,12,4,12,4S5.746,4,4.186,4.418 c-0.86,0.23-1.538,0.908-1.768,1.768C2,7.746,2,12,2,12s0,4.254,0.418,5.814c0.23,0.86,0.908,1.538,1.768,1.768 C5.746,20,12,20,12,20s6.254,0,7.814-0.418c0.861-0.23,1.538-0.908,1.768-1.768C22,16.254,22,12,22,12S22,7.746,21.582,6.186z M10,14.598V9.402c0-0.385,0.417-0.625,0.75-0.433l4.5,2.598c0.333,0.192,0.333,0.674,0,0.866l-4.5,2.598 C10.417,15.224,10,14.983,10,14.598z">
                                    </path>
                                </svg></a>


                            <a title="Tiktok" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2859 3333"
                                    shape-rendering="geometricPrecision" text-rendering="geometricPrecision"
                                    image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                                    <path
                                        d="M2081 0c55 473 319 755 778 785v532c-266 26-499-61-770-225v995c0 1264-1378 1659-1932 753-356-583-138-1606 1004-1647v561c-87 14-180 36-265 65-254 86-398 247-358 531 77 544 1075 705 992-358V1h551z">
                                    </path>
                                </svg></a>




                        </div>


                        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                            <div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;">
                            <div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                        </div>
                    </div>
                </div>

                <div class="offcanvas-overlay"></div>
                <!-- OffCanvas Search End -->
            </div>

        </div>
        <main class="">
            <slot />
        </main>
        <div id="shopify-section-footer" class="shopify-section">
            <div id="section-footer" class="footer1-section section section-padding   section-normal ">
                <div class="container">
                    <div class="row text-center row-cols-1">

                        <div class="footer1-logo col text-center"><a href="/" class="theme-logo">
                                <img class="lazyload"
                                    src="img/logo."
                                    alt="Learts Demo"
                                    style="height:75px;">

                            </a>
                        </div>

                        <div class="footer1-menu col">

                            <ul class="widget-menu justify-content-center">
                                <li><a href="/about"> about</a></li>
                                <li><a href="/contact"> Contact</a></li>
                                <li><a href="#"> Disclaimer</a></li>
                                <li><a href="#"> Policy</a></li>
                            </ul>
                        </div>

                        <div class="footer1-social col">

                            <ul class="widget-social justify-content-center">

                                <li class="hintT-top" data-hint="Facebook"><a
                                        href="https://facebook.com"><!--?xml version="1.0"?--><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="20px"
                                            height="20px">
                                            <path
                                                d="M32,11h5c0.552,0,1-0.448,1-1V3.263c0-0.524-0.403-0.96-0.925-0.997C35.484,2.153,32.376,2,30.141,2C24,2,20,5.68,20,12.368 V19h-7c-0.552,0-1,0.448-1,1v7c0,0.552,0.448,1,1,1h7v19c0,0.552,0.448,1,1,1h7c0.552,0,1-0.448,1-1V28h7.222 c0.51,0,0.938-0.383,0.994-0.89l0.778-7C38.06,19.518,37.596,19,37,19h-8v-5C29,12.343,30.343,11,32,11z">
                                            </path>
                                        </svg></a>
                                </li>
                                <li class="hintT-top" data-hint="Instagram"><a href="https://INSTAGRAM.com"><svg
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="20px"
                                            height="20px">
                                            <path
                                                d="M 16 3 C 8.8324839 3 3 8.8324839 3 16 L 3 34 C 3 41.167516 8.8324839 47 16 47 L 34 47 C 41.167516 47 47 41.167516 47 34 L 47 16 C 47 8.8324839 41.167516 3 34 3 L 16 3 z M 16 5 L 34 5 C 40.086484 5 45 9.9135161 45 16 L 45 34 C 45 40.086484 40.086484 45 34 45 L 16 45 C 9.9135161 45 5 40.086484 5 34 L 5 16 C 5 9.9135161 9.9135161 5 16 5 z M 37 11 A 2 2 0 0 0 35 13 A 2 2 0 0 0 37 15 A 2 2 0 0 0 39 13 A 2 2 0 0 0 37 11 z M 25 14 C 18.936712 14 14 18.936712 14 25 C 14 31.063288 18.936712 36 25 36 C 31.063288 36 36 31.063288 36 25 C 36 18.936712 31.063288 14 25 14 z M 25 16 C 29.982407 16 34 20.017593 34 25 C 34 29.982407 29.982407 34 25 34 C 20.017593 34 16 29.982407 16 25 C 16 20.017593 20.017593 16 25 16 z">
                                            </path>
                                        </svg></a>
                                </li>
                            </ul>
                        </div>

                        <div class="footer1-copyright col">
                            <p class="copyright">© 2023 Spellbound Magical Gifts All Rights Reserved </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</body>

</html>